//colours
$white: #fff;
$bermuda: #80cbc4;
$black : #000;
$gray20: #333;
$rosy-brown: #c39a9a;
$snow: #f9f9f9;
$ionic: #222;
$black-russian:#111112;
$color-1: #BEC7D5;
$important: !important;
$cadetblue: #5f9ea0;
$dark-cyan: #008b8b;
$strong-azure: #005bbb;
$brilliant-red: #ed2d39;
$red: #ff0;
$cobalt-blue: #1e6997;
$stack-overflow: #ed732d;
$gray62: #9e9e9e;
$c1: #114357;
$c2: #826C75;
$c3: #F29492;