body {
	overflow: overlay;
	background-color:$lightGray;
}
.logo-section {
	background-color: $wet;
	height: 70px;
	text-align: center;
}

.user-section {
	background-color: $torquies;
	height: 70px;
	p{
	font-size:3rem;
	color:$white;
	padding-top:15px;
	}
}
.menu-section{
	background-color: #2D3E51;
	height: 70px;
	line-height: 70px;
	color:white;
    p{
    	font-size: 2.5rem;
    	margin-left: 20px;

    }
}

.sidebar {
	background-color: $wet;
	height: 82vh;
    .nav-tabs {
    	display: grid;
    	text-align: center;
    	font-size: 30px;
    	border: none !important;

    	a {
    		color:#fff !important;
    	}
    }

    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus,
    .nav > li > a:hover, 
    .nav > li > a:focus {
    	background-color: transparent !important;
    	border-color: $wet !important;
    }
}
@media only screen and (max-width: 320px){
.user-section {
	
	p{
	font-size:2.5rem;
	
	padding-top:15px;
	}
}
.heading-3{
	font-size:26px;
}
.menu-section {
		p {
			margin-left: -2px !important;
			font-size: 2rem;
			}
		}
}
.nav > li > a {
	    padding: 25px 0px;
}
@media only screen and (max-width: 1200px) {
	.menu-section{
		p{
			margin-left:5px;
		}
	}
}
@media only screen and (min-width: 321px) and (max-width: 590px){
.heading-3{
	font-size:28px;
	margin-bottom:-16px !important;
}
	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.menu-section{
		p{
			margin-left:10px;
		}
	}
}