.wrapper{
		background-color:$lightGray;
		text-align:center;
	    .checklist-group{
			float:none;
			display:inline-block;
		}
.heading-3{
	color:$darkGray;
}
		.checklist-group{
				background-color:white;
				padding-top:10px;
				border-radius:25px;
				margin-top:50px;
				}
		label {
			input {
			  	opacity: 0;
			  	width: 0;
			  	height: 0;
			  	overflow: hidden;
			  	margin: 0;
			  	padding: 0;
			 	&:checked ~span.y {
 						color:$yellow; 
					}
			  }
			span.y {
				color:$darkGray;
			}
		}
			ul{
				float:right;
				margin: 0px;
    			padding: 0px;
    			margin-left: 10px;
				
				li{
					float:left;
				   	list-style:none;
    				padding: 5px 10px;
    				font-size: 2.5rem;
				   	
				   	&:hover{
						color:$darkGreen;
					}
				}
			}
			.list-items{
				
				margin-bottom:10px;
				
			 }
			.text-icon{
				font-size: 20px;
    		
    			padding: 5px 10px;
				&:hover{
					color:$darkGreen;
				}
			}
			.icon-eye{
				position:relative;
			    left: 14px;
			    font-size: 2.5rem;
			    top: 4px;
				}
 			}

@media only screen and (min-width:1024px) and (max-width: 1199px){
.wrapper{
	ul{
		li{
			padding:5px 6px;
		}
	}
  }	
}
@media only screen and (min-width:480px) and (max-width: 767px){
.checklist-group{
	width:91%;
	}
.wrapper{
	ul{
		li{
			padding:5px 5.2px;
			font-size:2rem;
		}
	}
}
.text-icon{
	margin-left:-3px;
	font-size:13px !important;
}
.icon-eye{
		position:relative;
		left:9px;
    	font-size: 2.5rem;
    	top: 4px;
		}
}
@media only screen and (min-width:321px) and (max-width: 479px){
.checklist-group{
	width:92%;
	}
.text-icon{
	    font-size: 9px !important;
		padding: 2px 2px !important;
    	margin-left: -20px;
	}
.icon-eye{
		position:relative;
		left:3px !important;
    	font-size: 1.5rem !important;
    	top: 4px;
		}
.wrapper{
	ul{
		margin-left:2px;
		li{
			float: left;
    		list-style: none;
    		padding: 5px 3px;
    		font-size: 1.5rem;
    		&:nth-child(3){
    			padding-right:0px !important;
    		}
		}
	}
  }
}
@media only screen and (max-width:320px){
.checklist-group{
	width:88%;
	margin-top:9px !important;

	}
	.text-icon{
	    font-size: 11px !important;
  		padding: 2px 2px !important;
    	margin-left: -11px !important;
	}
	.icon-eye{
		left:2px !important;
    	font-size: 1.5rem !important;
    	top: 4px;
		}
	.wrapper{
		ul{
			margin-left:1px;
			li{
				font-size: 1.5rem !important;
				padding: 4px 1px !important;
			}
		}
	}
}