* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightgray;
  margin: 0;
  overflow-y: hidden;
  padding: 64px 0 0;
}

.nav-block {
  margin-bottom: 0;
 }

.wrapper {
  margin: 0;
  padding: 0;
}

.heading {
  color: $black;
  margin: 18px 20px 10px;
}


.content-wrapper {
  background-color: $white;
  color: $black;
  height: 800px;
  margin-left: 240px;

  .row {
    margin-right: 0;

    padding: 0 7px 6px $important;

    .member-list,
    .member-button {
      border: 1px solid white $important;
    }

  }
}

.logo {
  height: 63px;
  padding: 10px 30px;

  img {
    width: 170px;
	}
}

.member-list {

  h5 {
    color: red;
    font-size: 15px;
    margin-top: -9px;
  }

  .icon-download3 {
    color: orange;
    left: 20px;
    position: relative;
    top: 3px;
  }

  p {
    font-size: 25px;
    margin-top: 10px;
  }
}



.custom-btn {
  border: 0;
  border-radius: 0;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 8px;
  position: absolute;
  right: 15px;
  margin-top: 6px;
}

.left-sidebar {
  background-color: $darkgray;
  color: white;
  height: 100%;
  padding-top: 10px;
  position: fixed;
  width: 240px;

  h3 {
    color: white;
    font-size: 28px;
    margin-left: 35px;
    margin-top: 15px;
  }

  h4 {
    font-size: 18px;
    margin-left: 35px;
  }

  div {

    &:nth-child(1) {
      border: 2px solid white;
      border-radius: 50%;
      font-size: 38px;
      margin-left: 40px;
      width: 60px;

      span {
        display: block;
        line-height: 57px;
        text-align: center;
      }
    }
  }

  .member-button {

    span {
      margin-top: 200px;
      position: absolute;
	  }
  }

  hr {
	  border: 1px solid white;
  }
}

.sidebar-footer {
  bottom: 68px;
  font-size: 17px;
  padding: 0 25px;
  position: absolute;

  .icon-switch {
    padding-right: 20px;
  }
}


.letter-wise-details {
  min-height: 1550px;

  button {
	  background-color: $gray;
    font-size: 15px;
    position: absolute;
    right: 20px;
    color: $white;
  }

  .row {

    .col {
      border-bottom: 1px solid white;
      height: 60px;
      padding: 2px 16px;
    }
  }
}

.letter-a {
  font-size: 19px;
  margin: 6px 0 -10px;
  padding-left: 6px;
}

.letter-j {
  font-size: 19px;
  margin-bottom: -10px;
  margin-top: 2px;
  padding-left: 6px;
}

.after-letter-line {
	margin: 8px 0 10px -7px;
}

.letter-filter {
  color: black;
  position: absolute;
  right: 19px;
  top: 69px;

  span {
    color: white;
    font-size: 15px;
  }

  select {
    margin-left: 12px;
    width: 65px;
  }
}

.active {
  background-color: $make;
}

.left-side-nav {
  margin-top: 20px;

  li {
    font-size: 18px;
    list-style: none;
    margin: 0 auto;
    padding: 10px 25px;

    span {
      color: $whitish;
      font-size: 20px;
      padding-right: 20px;
     }

    a {
      color: $whitish;
      text-decoration: none;
     }
   }
}

.sidebar-list {

  p {
	  font-size: 24px;
	  margin: 0 0 7px 35px;

    span {
	    font-size: 30px;
      padding-left: 20px;
      position: relative;
      top: 6px;
	  }
	}
}

.member-info {
  left: 58px;
  position: relative;
  top: -48px;
}

.name-initials {
  background-color: $darkgray;
  border: 1px solid $darkgray;
  border-radius: 100%;
  color: $white;
  font-size: 26px;
  margin-top: 50px;
  padding: 3px 10px;
  position: relative;

  span {
    display: block;
    line-height: 44px;
    text-align: center;
  }
}


.inner-addon {
  position: relative;
}

.inner-addon .icon-search {
  padding: 10px;
  pointer-events: none;
  position: absolute;
}

.left-addon .icon-search  {
  left: 0;
}

.right-addon .glyphicon {
 right: 0;
}

.left-addon input  {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}


.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: #D3D3D3;
}


.scrollbar::-webkit-scrollbar {
  width: 9px;
  background-color: #D3D3D3;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #A9A9A9;
}

.contact-section {
  min-height: 2000px;

  form {
    padding: 20px 5px;
  }
}

.scrollbar {
  border-radius: 10px;
  height: 700px;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.action-on-form {
  position: absolute;
  right: 19px;

  button {
    background-color: black;
    color: white;
  }
}

.member-content {
  margin-top: 32px;
  width: 100%;
}


.delete-org {
  position: relative;
  top: 45px;
}

.transfer-owner-label {
  color: black;
  margin-top: 65px;

  text-align: left;
 }

.make-owner-btn {
  background-color: $gray;
  font-size: 15px;
  position: absolute;
  right: 20px;
  color: $white;
}

.form-group {
  label {
    font-size: 16px;
    font-weight: normal;
  }
}

.navbar-form .form-control {
  width: 630px $important;
}

@media screen and (max-width: 767px) {
  .left-sidebar {
    left: -240px;
   }

  .content-wrapper {
    margin-left: 0;
  }
}
